body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parent {
  border: red;
  border-style: groove;
}
#root{
  margin-top: 40px;
}
@media (min-width:320px)  {#root{margin-top:0px;} }
@media (min-width:481px)  { #root{margin-top:0px;}}
@media (min-width:641px)  { #root{margin-top:0px;} }