body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row.resutrantInfo {
  border: red;
  border-style: groove;

}
.resturant{
  box-shadow: 9px -5px 20px 0px rgba(0, 0, 0, 0.21), 0 1px 14px 7px rgba(0, 0, 0, 0.26);
}

#root{
  margin-top: 40px;
}
@media (min-width:1025px) { #root{
  margin-top: 40px;
}}
@media (min-width:1281px) {#root{
  margin-top: 40px;
}}
